<form>
    <div class="row">
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            <label>Numero 1:</label>
        </div>
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            <input type="number" ng-model="helloworld.number1" />
        </div>
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            <label>Numero 2:</label>
        </div>
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            <input type="number" ng-model="helloworld.number2" />
        </div>
    </div>
    <div class="row">
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            <label>Numero 1:</label>
        </div>
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            {{helloworld.number1}}
        </div>
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            <label>Numero 2:</label>
        </div>
        <div class="cl-lg-3 com-md-3 col-sm-3 col-xs-3">
            {{helloworld.number2}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" ng-click="#">Invia</button>
        </div>
    </div>
</form>