<div class="table-responsive">
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody ng-repeat="x in tabella">
            <tr>
                <td>{{x.nome}}</td>
                <td>{{x.cognome}}</td>
                <td>{{x.email}}</td>
                <td><button type="button" class="btn btn-danger" ng-click="delete(x)">Delete</button> </td>
            </tr>
        </tbody>
    </table>
</div>

<div class='row'>
    <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning class="grid"></div>
</div>