<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
		
   <bean id = "helloWorld" class = "it.begear.hellospring.model.HelloWorld">
      <property name = "message" value = "Hello World!"/>
   </bean>
   
    <bean id = "hello" class = "it.begear.hellospring.model.Hello"/>
    
    <bean id = "main" class = "it.begear.hellospring.main.HelloMain"/>

</beans>