<p><img src="images/trevi.jpg" alt="Fontana di Trevi" class="img-thumbnail img-text" align=”left”>
Rifugio è un nuovissimo Bed and Breakfast situato nel centro di Roma. La facciata ha mantenuto il classico 
stile liberty, mentre gli interni sono stati completamente ristrutturati e rinnovati, con tutti i comforts.Le moderne camere 
si affacciano sul retro della casa e godono di due ampie terrazze da dove si può godere la vista di un  romantico giardino. 
Il centro è raggiungibile a piedi a circa 500 mt. Le camere sono tranquille, anche se questo B&B si trova vicino a bar, 
ristoranti (il cibo è ottimo) e una vita notturna divertente.La struttura gode di tutti i comfort con possibilita' 
di parcheggio privato.</p>
